FUNCTIONS_WORKER_RUNTIME=node

AzureWebJobsStorage=<BONUS_STORAGE_CONNECTION_STRING>

COSMOSDB_BONUS_URI=https://io-d-cosmos-free.documents.azure.com:443/
COSMOSDB_BONUS_KEY=<COSMOSDB_KEY>

COSMOSDB_CONNECTION_STRING=<COSMODB_CONN_STRING>
COSMOSDB_BONUS_DATABASE_NAME=bonus

ADE_SERVICE_ENDPOINT=https://webhook.site/ADE-1-OK
INPS_SERVICE_ENDPOINT=https://webhook.site/INPS-1-OK

SLOT_TASK_HUBNAME=FunctionHub

SERVICES_API_URL=https://api.io.italia.it
SERVICES_API_KEY=<SERVICE_API_KEY>

BONUS_STORAGE_CONNECTION_STRING=<BONUS_STORAGE_CONNECTION_STRING>

# uncomment to enable javascript debugger
# languageWorkers__node__arguments=--inspect=0.0.0.0:5860
