swagger: "2.0"
info:
  version: 1.1.0
  title: IO Bonus Function API
  contact:
    name: IO team
    url: https://forum.italia.it/c/progetto-io
  x-logo:
    url: https://io.italia.it/assets/img/io-logo-blue.svg
  description:  This is a specification for io-functions-bonus app API
host: api.cd.italia.it
basePath: "/api/v1"
schemes:
  - https
security:
  - ApiKey: []
paths:
  "/bonus/vacanze/eligibility/{fiscalcode}":
    parameters:
      - $ref: "#/parameters/FiscalCode"
    post:
      operationId: startBonusEligibilityCheck
      summary: Start bonus eligibility check (ISEE)
      responses:
        "200":
          description: Orchestrator task started
          schema:
            "$ref": "#/definitions/InstanceId"
        "401":
          description: Bearer token null or expired.
        "409":
          description: "Conflict: pending request found."
          schema:
            $ref: "#/definitions/ProblemJson"
        "500":
          description: Service unavailable.
          schema:
            $ref: "#/definitions/ProblemJson"
    get:
      operationId: GetEligibilityCheck
      summary: GetEligibilityCheck
      description: Read the bonus eligibility info
      responses:
        "200":
          description: Get eligibility information
          schema:
            "$ref": "#/definitions/EligibilityCheck"
        "202":
          description: Orchestrator already running
        "401":
          description: Unauthorized
        "500":
          description: Internal Server Error
parameters:
  FiscalCode:
    name: fiscalcode
    in: path
    type: string
    maxLength: 16
    minLength: 16
    required: true
    description: The fiscal code of the user, all upper case.
    x-example: SPNDNL80R13C555X
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  ApiKey:
    type: apiKey
    name: X-Functions-Key
    in: header
    description: The API key to access this function app.
definitions:
  FiscalCode:
    $ref: "https://raw.githubusercontent.com/pagopa/io-functions-commons/v10.2.3/openapi/definitions.yaml#/FiscalCode"
  InstanceId:
    type: object
    properties:
      id:
        type: string
        minLength: 1
      statusQueryGetUri:
        type: string
        minLength: 1
      sendEventPostUri:
        type: string
        minLength: 1
      terminatePostUri:
        type: string
        minLength: 1
    required:
      - id
      - statusQueryGetUri
      - sendEventPostUri
      - terminatePostUri
  ProblemJson:
    $ref: "https://raw.githubusercontent.com/pagopa/io-functions-commons/v10.2.3/openapi/definitions.yaml#/ProblemJson"
  EligibilityCheckStatus:
    type: string
    description: |
      Eligibility check status.
      - USER_NOT_FOUND    User not found in INPS database
      - ISEE_NOT_FOUND    User found but there's no ISEE data
      - ELIGIBILE         The user is eligible for the bonus
      - INELIGIBLE        The user is not eligible for the bonus
    x-extensible-enum:
      - USER_NOT_FOUND
      - ISEE_NOT_FOUND
      - ELIGIBILE
      - INELIGIBLE
  BonusActivationStatus:
    type: string
    description: |
      Bonus activation status.
      - ACTIVE      The bonus has been successfully activated by this user
      - CANCELLED   The bonus activation was cancelled on purpose and can be resumed
      - FAILED      The bonus activation failed as the user is currently ineligible
      - CONSUMED    The bonus is comsumed by this user or any member of the family
                    and cannot be activated anymore
    x-extensible-enum:
      - ACTIVE
      - CANCELLED
      - FAILED
      - CONSUMED
  BonusActivation:
    type: object
    title: Bonus activation
    description: Bonus activation
    properties:
      id:
        type: string
        minLength: 1
      applicant_fiscal_code:
        $ref: '#/definitions/FiscalCode'
      status:
        $ref: "#/definitions/BonusActivationStatus"
      code:
        type: string
        minLength: 1
      max_amount:
        description: Max bonus amount in euro cents
        type: integer
        minimum: 0
        maximum: 50000
      max_tax_benefit:
        description: Max bonus tax benefit in euro cents
        type: integer
        minimum: 0
        maximum: 50000
      updated_at:
        $ref: "https://raw.githubusercontent.com/pagopa/io-functions-commons/master/openapi/definitions.yaml#/Timestamp"
    required:
      - id
      - applicant_fiscal_code
      - status
      - code
      - max_amount
      - max_tax_benefit
      - updated_at
  BonusActivationItem:
    type: object
    properties:
      id:
        type: string
        minLength: 1
      is_applicant:
        type: boolean
    required:
      - id
      - is_applicant
  BonusActivationCollection:
    type: object
    properties:
      items:
        type: array
        items:
          $ref: "#/definitions/BonusActivationItem"
    required:
      - items
  PaginatedBonusActivationsCollection:
    allOf: 
      - $ref: "#/definitions/BonusActivationCollection"
      - $ref: "https://raw.githubusercontent.com/pagopa/io-functions-commons/v10.2.3/openapi/definitions.yaml#/PaginationResponse"         

  ConsultazioneSogliaIndicatoreInput:
    type: object
    properties:
      CodiceFiscale:
        type: string
        pattern: ([A-Za-z]{6}\\d{2}[A-Za-z]\\d{2}[A-Za-z][A-Za-z0-9]{3}[A-Za-z])|(\\d{11} {0,5})
      CodiceSoglia:
        type: string
        pattern: ([A-Za-z]{4}[0-9]{2})
      FornituraNucleo:
        type: string
        enum:
          - SI
          - "NO"
      DataValidita:
        type: string
        pattern: ( \\d{4}-[01][0-9]-[0123][0-9])
    required:
      - CodiceFiscale
      - CodiceSoglia
      - FornituraNucleo
  ConsultazioneSogliaIndicatoreResponse:
    type: object
    properties:
      Componente:
        type: array
        items:
          $ref: "#/definitions/NucleoType"
        x-nullable: true
      TipoIndicatore:
        type: string
        desription: |
          Possible values are
          - ISEE Standard
          - ISEE Minorenne ordinario
          - ISEE Minorenne con componente aggiuntiva
          - ISEE Minorenne con componente attratta
          - ISEE Universitario con componente aggiuntiva
          - ISEE Universitario con componente attratta
          - ISEE Universitario ordinario
          - ISEE Universitario con studente attratto
          - ISEE Universitario con studente attratto e componente aggiuntiva
          - ISEE Universitario con studente attratto e componente attratta
          - ISEE Sociosanitario ridotto
          - ISEE Dottorato ricerca ridotto
          - ISEE Residenziale standard senza figli aggiuntivi
          - ISEE Residenziale standard con figli aggiuntivi
          - ISEE Residenziale ridotto senza figli aggiuntivi
          - ISEE Residenziale ridotto con figli aggiuntivi
      SottoSoglia:
        type: string
        enum:
          - SI
          - "NO"
      ProtocolloDSU:
        type: string
        pattern: "INPS-ISEE-[0-9]{4}-[0-9]{8}[A-Z]-[0-9]{2}"
      DataPresentazioneDSU:
        type: string
        pattern: \\d{4}-[01][0-9]-[0123][0-9]
    required:
      - TipoIndicatore
      - SottoSoglia
      - ProtocolloDSU
      - DataPresentazioneDSU
  NucleoType:
    type: object
    properties:
      CodiceFiscale:
        type: string
        pattern: '([A-Z]{6}\\d{2}[A-Z]\\d{2}[A-Z][A-Z0-9]{3}[A-Z])|(\\d{11} {0,5})'
      Cognome:
        type: string
        maxLength: 64
      Nome:
        type: string
        maxLength: 64
    required:
      - CodiceFiscale
      - Cognome
      - Nome
  EligibilityCheck:
    type: object
    title: Eligibility check
    description: Eligibility check
    properties:
      status:
        $ref: "#/definitions/EligibilityCheckStatus"
      family_members:
        type: array
        minLength: 1
        items:
          $ref: "#/definitions/NucleoType"
      max_amount:
        description: Max bonus amount in euro cents
        type: integer
        minimum: 0
        maximum: 50000
      max_tax_benefit:
        description: Max bonus tax benefit in euro cents
        type: integer
        minimum: 0
        maximum: 50000
    required:
      - status
      - max_amount
      - family_members
      - max_tax_benefit