swagger: "2.0"
info:
  version: 1.1.0
  title: IO Bonus Function API
  contact:
    name: IO team
    url: https://forum.italia.it/c/progetto-io
  x-logo:
    url: https://io.italia.it/assets/img/io-logo-blue.svg
  description:  This is a specification for io-functions-bonus app API
host: api.cd.italia.it
basePath: "/api/v1"
schemes:
  - https
security:
  - SubscriptionKey: []
paths:
  "/bonus/vacanze/eligibility/{fiscalcode}":
    post:
      operationId: startBonusEligibilityCheck
      summary: Start bonus eligibility check (ISEE)
      parameters:
        - $ref: "#/parameters/FiscalCode"
      responses:
        "200":
          description: Orchestrator task started
          schema:
            "$ref": "#/definitions/InstanceId"
        "401":
          description: Bearer token null or expired.
        "409":
          description: "Conflict: pending request found."
          schema:
            $ref: "#/definitions/ProblemJson"
        "500":
          description: Service unavailable.
          schema:
            $ref: "#/definitions/ProblemJson"
parameters:
  FiscalCode:
    name: fiscalcode
    in: path
    type: string
    maxLength: 16
    minLength: 16
    required: true
    description: The fiscal code of the user, all upper case.
    x-example: SPNDNL80R13C555X
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  SubscriptionKey:
    type: apiKey
    name: Ocp-Apim-Subscription-Key
    in: header
    description: The API key obtained through the developer portal.
definitions:
  FiscalCode:
    $ref: "https://raw.githubusercontent.com/pagopa/io-functions-commons/v10.2.3/openapi/definitions.yaml#/FiscalCode"
  InstanceId:
    type: object
    properties:
      id:
        type: string
        minLength: 1
      statusQueryGetUri:
        type: string
        minLength: 1
      sendEventPostUri:
        type: string
        minLength: 1
      terminatePostUri:
        type: string
        minLength: 1
    required:
      - id
      - statusQueryGetUri
      - sendEventPostUri
      - terminatePostUri
  ProblemJson:
    $ref: "https://raw.githubusercontent.com/pagopa/io-functions-commons/v10.2.3/openapi/definitions.yaml#/ProblemJson"
  EligibilityCheckStatus:
    type: string
    description: |
      Eligibility check status.
      - USER_NOT_FOUND    User not found in INPS database
      - ISEE_NOT_FOUND    User found but there's no ISEE data
      - ELIGIBILE         The user is eligible for the bonus
      - INELIGIBLE        The user is not eligible for the bonus
    x-extensible-enum:
      - USER_NOT_FOUND
      - ISEE_NOT_FOUND
      - ELIGIBILE
      - INELIGIBLE
  FamilyMember:
    type: object
    properties:
      fiscal_code:
        $ref: '#/definitions/FiscalCode'
      name:
        type: string
        minLength: 1
      surname:
        type: string
        minLength: 1
    required:
      - name
      - surname
  EligibilityCheck:
    type: object
    title: Eligibility check
    description: Eligibility check
    properties:
      id:
        type: string
        minLength: 1
      status:
        $ref: "#/definitions/EligibilityCheckStatus"
      family_members:
        type: array
        items:
          $ref: "#/definitions/FamilyMember"
      max_amount:
        description: Max bonus amount in euro cents
        type: integer
        minimum: 0
        maximum: 50000
      max_tax_benefit:
        description: Max bonus tax benefit in euro cents
        type: integer
        minimum: 0
        maximum: 50000
    required:
      - id
      - status
      - max_amount
      - max_tax_benefit
      - family_members
  QrCode:
    type: object
    properties:
      content:
        type: string
      mime_type:
        type: string
    required:
      - content
      - mime_type
  BonusActivationStatus:
    type: string
    description: |
      Bonus activation status.
      - ACTIVE      The bonus has been successfully activated by this user
      - CANCELLED   The bonus activation was cancelled on purpose and can be resumed
      - FAILED      The bonus activation failed as the user is currently ineligible
      - CONSUMED    The bonus is comsumed by this user or any member of the family
                    and cannot be activated anymore
    x-extensible-enum:
      - ACTIVE
      - CANCELLED
      - FAILED
      - CONSUMED
  BonusActivation:
    type: object
    title: Bonus activation
    description: Bonus activation
    properties:
      id:
        type: string
        minLength: 1
      applicant_fiscal_code:
        $ref: '#/definitions/FiscalCode'
      status:
        $ref: "#/definitions/BonusActivationStatus"
      code:
        type: string
        minLength: 1
      qr_code:
        $ref: "#/definitions/QrCode"
      max_amount:
        description: Max bonus amount in euro cents
        type: integer
        minimum: 0
        maximum: 50000
      max_tax_benefit:
        description: Max bonus tax benefit in euro cents
        type: integer
        minimum: 0
        maximum: 50000
      updated_at:
        $ref: "https://raw.githubusercontent.com/pagopa/io-functions-commons/master/openapi/definitions.yaml#/Timestamp"
    required:
      - id
      - applicant_fiscal_code
      - status
      - code
      - qr_code
      - max_amount
      - max_tax_benefit
      - updated_at
  BonusActivationItem:
    type: object
    properties:
      id:
        type: string
        minLength: 1
      is_applicant:
        type: boolean
    required:
      - id
      - is_applicant
  BonusActivationCollection:
    type: object
    properties:
      items:
        type: array
        items:
          $ref: "#/definitions/BonusActivationItem"
    required:
      - items
  PaginatedBonusActivationsCollection:
    allOf: 
      - $ref: "#/definitions/BonusActivationCollection"
      - $ref: "https://raw.githubusercontent.com/pagopa/io-functions-commons/v10.2.3/openapi/definitions.yaml#/PaginationResponse"         

