swagger: "2.0"
info:
  version: 1.1.0
  title: IO Function API
  contact:
    name: IO team
    url: https://forum.italia.it/c/progetto-io
  x-logo:
    url: https://io.italia.it/assets/img/io-logo-blue.svg
  description: >
    Documentation of the IO Function API here.
host: api.cd.italia.it
basePath: "/template"
schemes:
  - https
paths:
  "/v1/bonus/verifica/{fiscalcode}":
    get:
      operationId: echo
      summary: Echo API
      description: Some API description here.
      parameters:
        - $ref: "#/parameters/FiscalCode"
      responses:
        "200":
          description: Orchestrator task started
          schema:
            "$ref": "#/definitions/InstanceId"
        "401":
          description: Unauthorized
        "409":
          description: Orchestrator already running
        "500":
          description: Not found.
parameters:
  FiscalCode:
    name: fiscal_code
    in: path
    type: string
    maxLength: 16
    minLength: 16
    required: true
    description: The fiscal code of the user, all upper case.
    pattern: "[A-Z]{6}[0-9LMNPQRSTUV]{2}[ABCDEHLMPRST][0-9LMNPQRSTUV]{2}[A-Z][0-9LMNPQRSTUV]{3}[A-Z]"
    x-example: SPNDNL80R13C555X
definitions:
  FiscalCode:
    $ref: "https://raw.githubusercontent.com/pagopa/io-functions-commons/v10.2.3/openapi/definitions.yaml#/FiscalCode"
  InstanceId:
    type: object
    properties:
      id:
        type: string
        minLength: 1
      statusQueryGetUri:
        type: string
        minLength: 1
      sendEventPostUri:
        type: string
        minLength: 1
      terminatePostUri:
        type: string
        minLength: 1
    required:
      - id
      - statusQueryGetUri
      - sendEventPostUri
      - terminatePostUri
